*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(207, 194, 194);
    box-sizing: border-box;
}

main{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(90deg, rgb(238, 238, 7), rgb(231, 152, 4), rgb(238, 75, 25));
}

h1{
    font-size: 40px;
    text-align: center;
}

.elem-section{
    width: 50%;
    margin: 0 auto;
    background-color: beige;
    height: 35px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

input{
    outline: none;
    border: none;
    background: transparent;
    padding-left: 10px;
    font-size: 15px;
    flex-grow: 1;
}

button{
    outline: none;
    border: none;
    width: 15%;
    text-align: center;
    background-color: rgb(4, 4, 71);
    color: white;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}