*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(207, 194, 194);
    box-sizing: border-box;
}

main{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(90deg, rgb(238, 238, 7), rgb(231, 152, 4), rgb(238, 75, 25));
    box-shadow: 2px 3px 2px  rgba(0, 0, 0, 0.3);
}

h1{
    font-size: 40px;
    text-align: center;
}

.elem-section{
    width: 50%;
    margin: 0 auto;
    background-color: beige;
    height: 35px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

input{
    outline: none;
    border: none;
    background: transparent;
    padding-left: 10px;
    font-size: 15px;
    flex-grow: 1;
}

button{
    outline: none;
    border: none;
    width: 20%;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(4, 4, 71);
    color: white;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    background-color: rgb(99, 99, 240);
    color: black;
}

.output-container{
   width: 100%;
   position: relative;
   
}

ul li{
    padding: 10px 13px 10px 50px ;
    list-style-type: none;
    position: relative;
    font-size: 16px;
}

ul li::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 8px
}

ul li.check{
    text-decoration: line-through;
    color:  rgba(253, 251, 251, 0.4);
}

ul li.check::before{
    background-image: url(check.png);
}

span{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    color: black;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

span:hover{
    border-radius: 50%;
    background-color:  rgba(253, 251, 251, 0.4) ;
    color: rgb(189, 5, 5);
    transform: scale(2);
}